
<!-- </div> -->
<div class="footer-padding"></div>
  <div class="footer">
    <p>&copy Made with ❤️ by Rahul Thakur</p>
  </div>
<!-- </div> -->
<!-- <script src="js/web3.min.js"></script>
<script src="js/truffle-contract.js"></script>
<script src="js/app.js"></script>   -->
</body>
</html>
