<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
          <!-- <ul class="nav navbar-nav navbar-right">

             <li id="home"><a href="/">HOME</a></li>
            <li id="about"><a href="/">ABOUT US</a></li>
            <li id="contact"><a href="/">CONTACT US</a></li>
          </ul> -->
      </div>
    </nav>

    <meta charset="utf-8">
    <title>Signing Failed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Oh Ho!</h1>
    <p class="lead">There was a problem signing you up! Please try Again.</p>
    <form action="/failure" method="post">
      <button class="btn btn-lg btn-warning" type="submit" name="button">Try Again!</button>
</form>
  </div>
</div>


<%-include("partials/footer")%>
